* {
    box-sizing: border-box;
    padding: 0;
    margin: 20;
}

.top-bar-left {
    text-align: center;
    font-weight: bold;
}

.grid-container {
    margin-top: 20px;
}

#submit {
    background-color: rgb(114, 200, 228);
    border: none;
    color: #0a0a0a;
    padding: 0px 20px;
    margin-left: 5px;
    margin-top: -50px;
    margin-bottom: 40px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;

    transition: background-color 1s,
        color 1s;
}

#submit:hover {
    background-color: rgb(70, 160, 190);
}

#submit:active {
    opacity: 0.8;
    
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 50%;
    justify-content: space-between;
    font-size: 16px;
    margin-left: 25%;
    margin-right: 25%;
}